{% extends 'base.html'%}
{% block title %}Wizard of Eyes: Page Not Found{% endblock %}
{% block body-content %}
<div class="container-fluid padding">
    <div class="row insurance text-center padding">
        <div class="col-12">
            <h1 class="display-4">Sorry, Page Not Found</h1>
        </div>
        <hr>
        <p>
            Sorry, we didn't see this coming. Maybe try again later, and we might have done some
            magic and fixed the issue.
        </p>
        <p>
            For scheduling an appointment, or for placing contact lens orders, please call the practice 
            at 347-494-4465.
        </p>
        <p>For now, head on back to the home page and try again later.</p>
    </div>
</div>

{% endblock %}