{% extends 'base.html'%}
{% block title %}Services | Wizard of Eyes | Optometrist in Jamaica, Queens | Eyedoctor & Optical in Jamaica, Queens{% endblock %}
{% block body-content %}
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h1 class="display-4">Our Services</h1>
            <hr>
        </div>
        <h2>Comprehensive Eye Examinations</h2>
        <p>An annual eye exam is crucial to the health of your eyes and can be an indicator of larger
            health issues. Our eye exams go past just prescribing glasses or contacts and make sure that
            your eyes are healthy. Some of the conditions the doctor is looking out for include:
            <ul>
                <li>Glaucoma</li>
                <li>Diabetic Retinopathy</li>
                <li>Cataracts</li>
                <li>Macular Degeneration</li>
                <li>Dry Eye Disease</li>
            </ul>
        </p>

        <h2>Contact Lens Fittings</h2>
        
        <p>

        </p>
        <h2>Medical Eyecare</h2>

        <h2>Optical 1 Hour Service</h2>

    </div>
</div>

{% endblock %}